name: deploy-ios

on:
  workflow_call:
    inputs:
      project-name:
        description: 'Name of the application to build (e.g. qTox).'
        required: false
        type: string
      cmake-args:
        description: 'Arguments to pass to CMake.'
        required: false
        type: string
      need-qt:
        description: |
          Whether the project needs Qt (built from source); default is
          true. Set to false if the project doesn't need Qt to save time.
        required: false
        type: boolean
        default: true

jobs:
  build:
    name: Build
    strategy:
      matrix:
        arch: [arm64, x86_64, arm64-iphonesimulator]
        ios: ["15.0"]
        exclude:
          - arch: ${{ github.event_name == 'pull_request' && !contains(github.event.pull_request.labels.*.name, 'packaging') && 'x86_64' }}
          - arch: ${{ github.event_name == 'pull_request' && !contains(github.event.pull_request.labels.*.name, 'packaging') && 'arm64-iphonesimulator' }}
    runs-on: macos-14
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: Checkout ci-tools
        if: github.repository != 'TokTok/ci-tools'
        uses: actions/checkout@v4
        with:
          repository: TokTok/ci-tools
          path: third_party/ci-tools
          submodules: true
      - name: Link ci-tools
        if: github.repository == 'TokTok/ci-tools'
        run: ln -s .. third_party/ci-tools
      - name: Checkout dockerfiles
        uses: actions/checkout@v4
        with:
          repository: TokTok/dockerfiles
          path: third_party/dockerfiles
          submodules: true

      - name: Determine artifact file name
        id: artifact
        run: |
          PROJECT_NAME="${{ inputs.project-name }}"
          if [ -z "$PROJECT_NAME" ]; then
            PROJECT_NAME="$(pcre2grep -M -o1 'project\(\s*(\S+)' CMakeLists.txt)"
          fi
          echo "project-name=$PROJECT_NAME" >>$GITHUB_OUTPUT

          ARTIFACT="$PROJECT_NAME-${{ matrix.arch }}-${{ matrix.ios }}.ipa"
          echo "artifact=$ARTIFACT" >>$GITHUB_OUTPUT
          echo "artifact-ref=$PROJECT_NAME-${{ github.sha }}-ios-${{ matrix.ios }}-${{ matrix.arch }}" >>$GITHUB_OUTPUT

          if [ "${{ matrix.arch }}" = "x86_64" ]; then
            echo "qt_arch=iphonesimulator-x86_64" >>$GITHUB_OUTPUT
          elif [ "${{ matrix.arch }}" = "arm64-iphonesimulator" ]; then
            echo "qt_arch=iphonesimulator-arm64" >>$GITHUB_OUTPUT
          else
            echo "qt_arch=ios-arm64" >>$GITHUB_OUTPUT
          fi
      - name: Download Qt
        if: inputs.need-qt
        run: |
          third_party/dockerfiles/qtox/deps/download_qt.sh \
            --arch ${{ steps.artifact.outputs.qt_arch }} \
            --dep-prefix /Users/runner/work/deps
          mkdir -p /Users/runner/work/host-qt
          third_party/dockerfiles/qtox/deps/download_qt.sh \
            --arch $(uname -m) \
            --macos-version 12.0 \
            --dep-prefix /Users/runner/work/host-qt
      - name: Cache dependencies (except Qt)
        id: cache-deps
        uses: actions/cache@v4
        with:
          path: |
            /Users/runner/work/deps/bin
            /Users/runner/work/deps/include
            /Users/runner/work/deps/lib
            /Users/runner/work/deps/share
          key: ${{ github.job }}-ios-distributable-${{ matrix.arch }}-${{ matrix.ios }}-deps
      - name: Homebrew dependencies to build dependencies
        run: brew bundle --file platform/ios/Brewfile-static
      - name: Build dependencies
        if: steps.cache-deps.outputs.cache-hit != 'true'
        run: third_party/dockerfiles/qtox/deps/local_install_deps.sh
          --arch ${{ steps.artifact.outputs.qt_arch }}
          --dep-file platform/deps.depfile
          --dep-prefix /Users/runner/work/deps
      - name: Cache compiler output
        uses: actions/cache@v4
        with:
          path: .cache/ccache
          key: ${{ github.job }}-ios-distributable-${{ matrix.arch }}-${{ matrix.ios }}-ccache
      - name: Set up ccache
        run: ccache
          --set-config=max_size=200M
          --set-config=cache_dir="$PWD/.cache/ccache" && ccache --show-config
      - name: Build application bundle
        run: third_party/ci-tools/platform/ios/build.sh
          --project-name ${{ steps.artifact.outputs.project-name }}
          --arch "${{ matrix.arch }}"
          --ios-version "${{ matrix.ios }}"
          --dep-prefix /Users/runner/work/deps
          --host-path /Users/runner/work/host-qt/qt
          --
          ${{ inputs.cmake-args }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.artifact.outputs.artifact-ref }}
          path: |
            ${{ steps.artifact.outputs.artifact }}
            ${{ steps.artifact.outputs.artifact }}.sha256
          if-no-files-found: error
      - name: Get tag name for release file name
        if: contains(github.ref, 'refs/tags/v')
        id: get_version
        run: |
          VERSION="$(echo "$GITHUB_REF" | cut -d / -f 3)"
          echo "version_tag=$VERSION" >>$GITHUB_OUTPUT
          echo "release_artifact=${{ steps.artifact.outputs.project-name }}-$VERSION.${{ matrix.arch }}-${{ matrix.ios }}.ipa" >>$GITHUB_OUTPUT
      - name: Rename artifact for release upload
        if: contains(github.ref, 'refs/tags/v')
        run: |
          cp "${{ steps.artifact.outputs.artifact }}"        "${{ steps.get_version.outputs.release_artifact }}"
          cp "${{ steps.artifact.outputs.artifact }}.sha256" "${{ steps.get_version.outputs.release_artifact }}.sha256"
      - name: Upload to versioned release
        if: contains(github.ref, 'refs/tags/v')
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          draft: true
          artifacts: "${{ steps.get_version.outputs.release_artifact }},${{ steps.get_version.outputs.release_artifact }}.sha256"
      - name: Rename artifact for nightly upload
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: |
          cp "${{ steps.artifact.outputs.artifact }}"        ${{ steps.artifact.outputs.project-name }}-nightly-${{ matrix.arch }}-${{ matrix.ios }}.ipa
          cp "${{ steps.artifact.outputs.artifact }}.sha256" ${{ steps.artifact.outputs.project-name }}-nightly-${{ matrix.arch }}-${{ matrix.ios }}.ipa.sha256
      - name: Upload to nightly release
        uses: ncipollo/release-action@v1
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        with:
          allowUpdates: true
          tag: nightly
          omitBodyDuringUpdate: true
          omitNameDuringUpdate: true
          prerelease: true
          replacesArtifacts: true
          artifacts: "${{ steps.artifact.outputs.project-name }}-nightly-${{ matrix.arch }}-${{ matrix.ios }}.ipa,${{ steps.artifact.outputs.project-name }}-nightly-${{ matrix.arch }}-${{ matrix.ios }}.ipa.sha256"
